<h2>Edit note</h2>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Body" [(ngModel)]="body" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
</form>
<button mat-button class="add-btn add-note-btn" (click)="editNote()">Save</button>
<button mat-button class="add-btn cancel-btn" (click)="cancel()">Cancel</button>
